Repository FlavioLucasFer/agenda, pull requests merged in 2021-10, with the labels that each got.

#18 [MIGRATIONS] - Criar migration de create table da entidade "usuario" #6
  src/main/resources/db/migration/V1_0_1__create_usuario_table.sql
Labels: enhancement, Database

#24 [BACK-END] - Implementar autenticação de usuário #8
  pom.xml
  src/main/java/br/ifpr/agenda/AgendaApplication.java
  src/main/java/br/ifpr/agenda/bootstrap/InicializarDados.java
  src/main/java/br/ifpr/agenda/repositories/UsuarioRepository.java
  src/main/java/br/ifpr/agenda/seguranca/ConfiguracaoSeguranca.java
  src/main/java/br/ifpr/agenda/seguranca/UserDetailsServiceImpl.java
Labels: enhancement, Back-end

#25 [FRONT-END] - Implementar tela de cadastro de usuário #9
  src/main/java/br/ifpr/agenda/controllers/UsuarioController.java
  src/main/resources/templates/usuarios/cadastrar.html
Labels: enhancement, Front-end

#26 [FRONT-END] Implementar tela de login #7
  src/main/java/br/ifpr/agenda/controllers/UsuarioController.java
  src/main/java/br/ifpr/agenda/seguranca/ConfiguracaoSeguranca.java
  src/main/resources/templates/login.html
Labels: enhancement, Front-end
